@import '~bootstrap/scss/bootstrap.scss';
$btn-primary: #2ea44f;
$btn-secondary: #17a0ce;

.movie-billboard {
    width: 15%;
}
.btn--movie__title {
    margin: 15px;
}
.movie--details__container {
    margin: 10px 0;
}
.movie--details__title {
    font-weight: 800;
}
#basic-navbar-nav{
    align-items: normal;
}