@import '~bootstrap/scss/bootstrap.scss';
.movie-billboard {
    width: 75%;
    height: 75%;
}
.navbar--logo {
    width: 4rem;
}
.card--img:hover {
    opacity: 0.8;
}
.form--container {
    max-width: 100%;
    margin: auto 0;
}
.navbar-with-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
